/*Estilos del body*/
body {
    background-color: #F5F5F5 !important;
    margin: 0;
    padding: 5px;
}

#region-container,
#comuna-container {
    display: none;
}

/*Estilos del navbar*/
.navbar {
    padding: 15px;
}

.img-logo {
    width: auto;
    height: 100px;
    overflow: hidden;
}

.search {
    margin: 0 auto;
    width: auto;
}

.form-control {
    width: 350px !important;
    border-radius: 10px 0 0 10px !important;
    text-align: center;
    -webkit-border-radius: 10px 0 0 10px !important;
    -moz-border-radius: 10px 0 0 10px !important;
    -ms-border-radius: 10px 0 0 10px !important;
    -o-border-radius: 10px 0 0 10px !important;
}

.btn-search {
    background-color: #FF6F61 !important;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}

.btn-search:hover {
    background-color: #FFA07A !important;
}

.nav-item {
    justify-content: space-between;
    margin-right: 15px;
}

.nav-link {
    color: #333 !important;
    font-size: 17px !important;
    font-weight: 500 !important;
    padding: 10px;
}

.nav-link:hover {
    color: #FF6F61 !important;
}

.active {
    color: #FFA07A !important;
}

/*Estilos para el footer*/
.custom-footer {
    background-color: #ff6f61;
    color: #fff;
    font-weight: 900;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.link-social {
    color: #F5F5F5;
    text-decoration: none;
}

.link-social:hover {
    color: #000;
}

.link-contact {
    color: #000;
    text-decoration: none;
}

.link-contact:hover {
    color: #F5F5F5;
}

.social-media a {
    color: #fff;
    margin-right: 10px;
}

.link-social-contact {
    color: #fff;
    text-decoration: none;
}

.link-social-contact:hover {
    color: #000;
}

.link-social-contact :where(svg) {
    margin-right: 5px;
}


/* Estlo carro-item */
.body{
    overflow: hidden;
  }

  .cart{
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
  }
  
  .cart-container {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    flex-direction: column;
  }
  
  .cart-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 800px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    flex-direction: column;
  }
  
  .cart-item img {
    width: 130px;
    height: 130px;
    margin: 15px;
    border-radius: 50%;
  }
  
  .item{
    background: #FFA07A;
    border-radius: 20px;
    margin-top: 17px;
    width: 700px;
    display: flex;
  }
  
  .cart-item-details h3 {
    margin-top: 0;
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
    margin-top: 60px;
  }
  
  .quantity-control button {
    background-color: transparent;
    color: white;
    border: none;
  }
  
  .precio{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
  }
  
  .quantity-control span {
    margin: 0 10px;
  }
  
  .cart-summary {
    background-color: #242526;
    color: white;
    width: 350px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-left: 20px;
  }
  
  .checkout-btn {
    background-color: rgb(6, 171, 22);
    color: #333;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .discount-code {
    margin-top: 10px;
  }
  
  
  .container{
    display: flex;
    width: 100%;
    height: 649px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .price-resume{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .container-resumen{
    display: flex;
  }

  .item-modal{
    display: flex;
    width: 819px;
    flex-direction: column;
    margin-left: 184px;
}


  