/*Estilos del body*/
body {
    background-color: #F5F5F5 !important;
    margin: 0;
    padding: 5px;
}

/*Estilos para el header*/
.hsocial {
    border-bottom: 2px solid #000;
    margin-top: 10px;
    width: 100% !important;
}

.text-start {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
}

.btn-social :where(svg) {
    color: #000;
    justify-content: space-between;
    margin-right: 5px;
}

.btn-social svg:hover {
    color: #FF6F61 !important;
}

.btn-ayuda {
    background-color: #FF6F61 !important;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn-ayuda:hover {
    background-color: #e64c3c !important;
}

.btn-despacho {
    background-color: #FF6F61 !important;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn-despacho:hover {
    background-color: #e64c3c !important;
}

/*Estilos del navbar*/
.navbar {
    padding: 15px;
}

.img-logo {
    width: auto;
    height: 100px;
    overflow: hidden;
}

.search {
    margin: 0 auto;
    width: auto;
}

.form-control {
    width: 350px !important;
    border-radius: 10px 0 0 10px !important;
    text-align: center;
    -webkit-border-radius: 10px 0 0 10px !important;
    -moz-border-radius: 10px 0 0 10px !important;
    -ms-border-radius: 10px 0 0 10px !important;
    -o-border-radius: 10px 0 0 10px !important;
}

.btn-search {
    background-color: #FF6F61 !important;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}

.btn-search:hover {
    background-color: #FFA07A !important;
}

.nav-item {
    justify-content: space-between;
    margin-right: 15px;
}

.nav-link {
    color: #333 !important;
    font-size: 17px !important;
    font-weight: 500 !important;
    padding: 10px;
}

.nav-link:hover {
    color: #FF6F61 !important;
}

.active {
    color: #FFA07A !important;
}

.cart-counter {
    background-color: #e64c3c;
}

/*Estilos del navbar collapse*/

/*Estilos para el main*/
.container-main {
    padding: 20px;
    margin-bottom: 20px;
}

/*Estilos para el section container*/
.container-fd {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 15px;
    width: 50%;
    margin: 0 auto;
}

.btn-search {
    border-radius: 0 10px 10px 0 !important;
    -webkit-border-radius: 0 10px 10px 0 !important;
    -moz-border-radius: 0 10px 10px 0 !important;
    -ms-border-radius: 0 10px 10px 0 !important;
    -o-border-radius: 0 10px 10px 0 !important;
}

/* Estilos para el carrusel */
.Carousel-container {
    width: 100%;
    margin: 20px auto;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    display: none;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: auto;
    max-height: 450px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    object-fit: cover;
}

.carousel-item.active {
    display: block;
}

/*Estilos para el boton ver mas productos*/
.btn-container {
    display: flex;
    justify-content: flex-end;
}

.btn-link {
    background-color: #FF6F61;
    padding: 10px;
    text-decoration: none !important;
    color: #000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-right: 120px;
}

.btn-link:hover {
    color: #000 !important;
    background-color: #FFA07A;
}

/*Estilos para las cards*/
.container-card {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 400px;
    margin: 10px;
    height: auto !important;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.card-stock {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #F5F5F5;
    padding: 5px 10px;
    border: 1px solid #000;
    z-index: 1000;
    border-radius: 5px;
}

.card-img-top {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover .card-img-top {
    transform: scale(1.1);
    filter: drop-shadow(10px 5px 10px black);
    -webkit-filter: drop-shadow(10px 5px 10px black);
}

.card-body {
    padding: 10px;
    text-align: center;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px !important;
}

.card-brand {
    margin: 0 auto;
    width: 100px;
    border: 2px solid #000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card-price {
    margin-top: 10px;
    font-size: 20px;
}

.additional-info {
    opacity: 0;
    transform: translateY(100%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #F5F5F5;
    transition: opacity 0.5s ease, transform 0.5s ease;
    padding: 15px;
    border-top: 2px solid #000;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.card:hover .additional-info {
    opacity: 1;
    transform: translateY(0);
}

.card-TipoM {
    color: #000;
    font-size: 15px;
}

.Type-card {
    color: #000;
    font-weight: 500;
}

.btn-view {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

.btn-view:hover {
    background-color: #e64c3c;
}

.btn-cart {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

.btn-cart:hover {
    background-color: #e64c3c;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

.modal-info-card {
    margin: auto;
    width: 100%;
}

.close {
    color: #FF6F61 !important;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Estilos para el footer*/
.custom-footer {
    background-color: #ff6f61;
    color: #fff;
    font-weight: 900;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.link-social {
    color: #F5F5F5;
    text-decoration: none;
}

.link-social:hover {
    color: #000;
}

.link-contact {
    color: #000;
    text-decoration: none;
}

.link-contact:hover {
    color: #F5F5F5;
}

.social-media a {
    color: #fff;
    margin-right: 10px;
}

.link-social-contact {
    color: #fff;
    text-decoration: none;
}

.link-social-contact:hover {
    color: #000;
}

.link-social-contact :where(svg) {
    margin-right: 5px;
}