/*Estilos del body*/
body {
    background-color: #F5F5F5 !important;
    margin: 0;
    padding: 5px;
}

/*Estilos para el header*/
.hsocial {
    border-bottom: 2px solid #000;
    margin-top: 10px;
}

.text-start{
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

.btn-social :where(svg) {
    color: #000;
    justify-content: space-between;
    margin-right: 5px;
}

svg:hover {
    color: #FF6F61 !important;
}

/*Estilos del navbar*/
.navbar {
    padding: 15px;
}

.img-logo {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.search {
    margin: 0 auto;
    width: auto;
}

.form-control {
    width: 350px !important;
    border-radius: 10px 0 0 10px !important;
    text-align: center;
    -webkit-border-radius: 10px 0 0 10px !important;
    -moz-border-radius: 10px 0 0 10px !important;
    -ms-border-radius: 10px 0 0 10px !important;
    -o-border-radius: 10px 0 0 10px !important;
}

.btn-search {
    background-color: #FF6F61 !important;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}

.btn-search:hover {
    background-color: #FFA07A !important;
}

.nav-item {
    justify-content: space-between;
    margin-right: 15px;
}

.nav-link {
    color: #333 !important;
    font-size: 17px !important;
    font-weight: 500 !important;
    padding: 10px;
}

.nav-link:hover {
    color: #FF6F61 !important;
}

.active {
    color: #FFA07A !important;
}

/*Estilos del navbar collapse*/

/*Estilos para el main*/

/*Estilos para el section container*/
.container-fd {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 15px;
    width: 50%;
    margin: 0 auto;
}

.btn-filter {
    background-color: #FF6F61 !important;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn-category {
    background-color: #FF6F61 !important;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.dropdown-menu {
    background-color: #FF6F61 !important;
    color: #000;
}

/*Estilos para el carousel*/
.Carousel-container {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.carousel-inner :where(img) {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid #000;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
nav{
    background-color: #fff;
    
}


footer{
    background-color: #fff;
    margin-top: 10%;
    box-shadow: 4px 15px 30px rgba(0, 0, 0, 0.05)
}
#capiimg{
    box-shadow: 4px 15px 30px rgba(0, 0, 0, 0.16)
}