/*Estilos del body*/
body {
    background-color: #F5F5F5 !important;
    margin: 0;
    padding: 5px;
}

/*Estilos para el header*/
.hsocial {
    border-bottom: 2px solid #000;
    margin-top: 10px;
    width: 100% !important;
}

.text-start {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
}

.btn-social :where(svg) {
    color: #000;
    justify-content: space-between;
    margin-right: 5px;
}

.btn-social svg:hover {
    color: #FF6F61 !important;
}

.btn-ayuda {
    background-color: #FF6F61 !important;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn-ayuda:hover {
    background-color: #e64c3c !important;
}

.btn-despacho {
    background-color: #FF6F61 !important;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn-despacho:hover {
    background-color: #e64c3c !important;
}

/*Estilos del navbar*/
.navbar {
    padding: 15px;
}

.img-logo {
    width: auto;
    height: 100px;
    overflow: hidden;
}

.search {
    margin: 0 auto;
    width: auto;
}

.form-control {
    width: 350px !important;
    border-radius: 10px 0 0 10px !important;
    text-align: center;
    -webkit-border-radius: 10px 0 0 10px !important;
    -moz-border-radius: 10px 0 0 10px !important;
    -ms-border-radius: 10px 0 0 10px !important;
    -o-border-radius: 10px 0 0 10px !important;
}

.btn-search {
    background-color: #FF6F61 !important;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}

.btn-search:hover {
    background-color: #FFA07A !important;
}

.nav-item {
    justify-content: space-between;
    margin-right: 15px;
}

.nav-link {
    color: #333 !important;
    font-size: 17px !important;
    font-weight: 500 !important;
    padding: 10px;
}

.nav-link:hover {
    color: #FF6F61 !important;
}

.active {
    color: #FFA07A !important;
}

.cart-counter {
    background-color: #e64c3c;
}

/*Estilos para nosotros*/
.seccion-presentacion {
    text-align: center;
}

.seccion-historia {
    padding: 10px;
    margin-top: 10px !important;
    padding: 50px;
}

.seccion-historia :where(h3) {
    float: left;
    margin-top: 45px;
    margin-left: 5%;
}

.seccion-historia :where(p) {
    width: 50%;
    margin: 0 auto;
}

/* Estilo para la sección del equipo */
.seccion-equipo {
    display: flex;
    align-items: flex-start;
    padding: 50px;
    border-top: 1px solid #000;
}

.seccion-equipo :where(h3) {
    float: left;
    margin-top: 100px !important;
    margin-left: 5%;
}

.miembro-equipo-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.miembro-equipo {
    width: 450px;
    text-align: center;
}

.miembro-equipo :where(img) {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    overflow: hidden;
}

.miembro-equipo :where(h4) {
    font-size: 18px;
    margin-bottom: 5px;
}

.cargo {
    font-size: 16px;
    margin-bottom: 10px;
}

.descripcion {
    font-size: 14px;
    line-height: 1.5;
}

/* Estilo para la sección de valores */
.seccion-valores {
    text-align: center;
    margin-bottom: 50px;
    padding: 50px;
    border-top: 1px solid #000;
}

.seccion-valores h3 {
    float: left;
    margin-top: 100px !important;
    margin-left: 5%;
}

.seccion-valores ul {
    list-style: none;
    padding: 0;
    width: 50%;
    margin: 0 auto;
}

.seccion-valores li {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
    text-align: start;
}

/*Estilos para el footer*/
.custom-footer {
    background-color: #ff6f61;
    color: #fff;
    font-weight: 900;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.title-footer {
    padding: 5px;
    font-weight: 900;
}

.link-social {
    color: #F5F5F5;
    text-decoration: none;
}

.link-social:hover {
    color: #000;
}

.link-contact {
    color: #000;
    text-decoration: none;
}

.link-contact:hover {
    color: #F5F5F5;
}

.social-media a {
    color: #fff;
    margin-right: 10px;
}

.link-social-contact {
    color: #fff;
    text-decoration: none;
}

.link-social-contact:hover {
    color: #000;
}

.link-social-contact :where(svg) {
    margin-right: 5px;
}